body {
  background-color: #282828;
  color: #F5F5F5;
}

.VoteScreen {
  width: 400px;
  height: 100%;
  position: fixed;
  float: left;
  z-index: 1;
  overflow-y: scroll;
}

.Topbar {
  border-style: solid;
  border-width: 1px;
}

.main {

}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 440px; /* 400 + 40 */
  }
}

.Left-Deck {
  text-align: left;
}

.Rightthumb {
  float: left;
}

.xfader {
  position: absolute;
  text-align: center;
  transform:translateX(-50%);
  margin-left: 200px; /* 400 / 2 */
  left: 50%;
  z-index: 1;
}

/*.Right-Deck {*/
  /*text-align: right;*/
  /*float: right;*/
/*}*/

.Rightthumb {
  float: right;
}

.Rightvolume {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Leftvolume {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Rightbuttons {
  float: right;
}

.Rightsonginfo {
  text-align: right;
  float: right;
}

.dropdown-item {
  cursor: pointer;
}

.fa-large {
  font-size: 2rem;
}

.arrow {
  cursor: pointer;
}

/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.Topbar {
  position: absolute;
  background-color: #222;
  height: 50px;
  color: white;
  float: left;
  left: 300px;
  right: 0px;
  border-style: solid;
  border-width: 1px;
}

.App-title {
  font-size: 1.5em;
}

.VoteScreen {
  position: absolute;
  float: left;
  border-style: solid;
  border-width: 1px;
  top: 0;
  bottom: 0;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.Queue {
  position: absolute;
}


.Turntable {
  position: relative;
  left: 200px;
}

*/

input[type=range][orient=vertical]
{
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

/*[handle-num="0"] .noUi-handle:after {*/
  /*content: "Text only for value 5";*/
/*}*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}