.VoteScreen {
  width: 400px;
  height: 100%;
  position: fixed;
  float: left;
  z-index: 1;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 440px; /* 400 + 40 */
  }
}

.Topbar {
  border-style: solid;
  border-width: 1px;
}

.close {
  float: left;
}

/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.Topbar {
  position: absolute;
  background-color: #222;
  height: 50px;
  color: white;
  float: left;
  left: 300px;
  right: 0px;
  border-style: solid;
  border-width: 1px;
}

.App-title {
  font-size: 1.5em;
}

.Left-Deck {
  float: left;
}

.Right-Deck {
  float: right;
}


.VoteScreen {
  position: absolute;
  float: left;
  border-style: solid;
  border-width: 1px;
  top: 0;
  bottom: 0;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.Queue {
  position: absolute;
}


.Turntable {
  position: relative;
  left: 200px;
}



.main {
  position: relative;
}
*/

input[type=range][orient=vertical]
{
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}